/* GENERAL */
html,body{
    font-family: Raleway;
}
.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.decorationNone {
    text-decoration: none;
}
/* NAV */
.sizeNav {
    height: 100px;
}
.sizeLiens {
    width: 45%;
}
.sizeLien {
    width: 140px;
    height: 99px;
}
.colorLien13 {
    color: blue;
}
.colorLien2 {
    color: black;
}
.bordureNav {
    border-top: 1px solid blue; 
}
.bordureNav23 {
    border-top: 1px solid transparent;
}   
.marglogo {
    margin-bottom: 7px;
}